<div class="projects">
    <div class="main">
        <h2 class="projectsCard-title">PROJECTS</h2>
        <div class="project project1">
            <a href="">
                <img class="projectImg" src="https://lh3.googleusercontent.com/wsVXhGVqn7Ik0m0XZW1N1zcWZLB9M6gDu3ThF1ZORws4f1uR8BhQpwNrCbDcU905szkre9i1bgJhUSWoAJiiL4ZiOlfyvWv_r-mfKmfN0Ty_yi_rkTv7oUsz5oYzaOM67mRlVUQMVpSrggM6FxJ4RDtHJQa1FpTMGIV9rkK3EyOlCpDmQkW8PnaMe2Ugr459xKjvpT2Gorc_8PmiC0x-a01z9IuZpYZTP8_DRTWNm5N4bEEki_KZd6BLC1asGQeeqWq73RlpP6HlNrptq8ZxJ-PUKfLb1BIkUqnqxrrAj8F8bPiTW93ulwQvzH24HViLuVhpWBjQnhb2iveq3icBtAH0r0aUc-doTFHRInfWTUN_S5OYqCQVh5GeRgPY70CzFu7nIRWDi3WBweHYKGik8jcgT16A0EWtczrGoWrTVURYrt13AqgvEUUdfoCjpLccwXcaRGj7rAMyK1fon-xIX-OeW0DR07edZPKCE4BirwYCRKQ-3A0YZZeHDOHXMC8GZpOIq4dbNoMoKBn8Pvfwru01xsMZ6HDcFXc5T3p0Hmt3tBWa7uhqhUpfaQoIV70FV6F8dECthqwhXEd1d0KO-R_e9b1_GzmAA_aDJuM=w2752-h1298-no">
            </a>
            <div class="project-details">
                <h4 class="project-title">Office Space</h4>
                <p class="project-description">OfficeSpace is an application that makes it easy for businesses to manage
                  their clients and securly send and receive large documents. This website demonstrates a full stack
                  application with a component based front end using ReactJS and Reactstrap for styling. The backend is
                  implemented using Node.js, AWS, nodemailer, mongoDB, mongoose, and express.</p>
            </div>
        </div>
        <div class="project project2">
            <a href="https://bootcampspot-v3.herokuapp.com/" target="_blank">
                <img class="projectImg" src="https://lh3.googleusercontent.com/fPlCuceQ6dqjOeujmNegFiK8tmouvm_VlT80aeXdAMswEy_nr_OaBPNclebVxEONf7toUrql4lO7exF6hSPAeVDFS0ajLKIMRA4-1i5zoUAjjMwIfxY4CYeyd0KWGAMxxzK1gXqP7tuKVeOHKW6mRvzNnYMhhTD1ivHZbPSxZPlZ6mEzPYCtXag7cNFo18dd-L1iQsQN65HV2QYo6F7oufMuhQdwJnm8kA2mNuVco5YNEwwQng4NA_eVuvLqFoX6N0LpWaNE_vpcgdCqCQizCeKmtmYFH_dOtO4RLM2eADm8dLDjjqOyPi3v-goXKjmqpYg7E2feTTGK8kXeDnjVrTwM3hnsREo8_SyanFu09T4pNUzk6I9imTGmeq9nTU4-LUFz44nkxgdNyRhu73Y2X1Lf2O62qsTnZh6nqJ_VXKcBhzXIxU8FBDChEKtXv33H9LKny2KvvLBmGaFMWJw6Xrx0K8e_v78UZ1mZ883ZrLn2O6u-6JNjMJqVFV6YTSw7G9EMDHer9NdPWb_2DEZgBwFVcZNrm2zHHMKcV191iRjo1nAZBO3NWW8UcBv1LL0hCxdanFrcpONhyBdWCZAa_vWD0bawr_-Yii7Oq-Y=w2752-h1242-no">
            </a>
            <div class="project-details">
                <h4 class="project-title">Bootcampspot-v3</h4>
                <p class="project-description">Bootcampspot-V3 is a redesigned website from Bootcampspot-V2. Our goal was to create a more
                  efficient way students can access the resources needed to complete the course such as attendance,
                  classes, turning in homework, and connecting to slack.</p>
            </div>
        </div>
        <div class="project project3">
            <a href="https://veeno.herokuapp.com/index.html" target="_blank">
                <img class="projectImg" src="https://lh3.googleusercontent.com/y7Sa-nC87cLssgGicfByYtrGwQDp9jK8GUevp8c4cEiiDAPVGiPN9svE0cObKFpTIpMmXcs7nfnTYX39pONLgVuTgk6iTbstipECasSCqF5oIneWU0_WDHF6eBfsdFK_wB7YoLs_qyUStdL8uyuLRRRJXDmHIZT3n128AE_VwZMMli3oPmQlr47iS0IeJWa7WVLRYzU2icFb_PB1PMbj5Qcw0mCW1n8DFvxidu-6bcoJIx_uhcQ4meivUAnmORFBN3xgo4NctsiUQ5IHaLDuw2WUyQ7ytkHBXWcB_RPM6xktzUbOTFJ3pg9hOG_HKu8z4Un2M3KN8EiU56bRty7rCJPeyOr6Dzao6sxSXmQ5Nrmcr9p4c12-xCOv9gJLb-BwTsMu4Kxqr7op29bpABkaF6tCUQlBrUpbml2jaMj3k8s9rsB0SOFuD9tKay8C-M4tCCsyYy6saCoY8wLwIFv69xwO4opW1ojfpEz34I5OoAzr0ZE9G86THRhGVZXE33WDoH_S2Htb26t8v_1BS_DKgTXHGy68LF5I2rmrI4RsQwynW9y2I0ReoijFPM0JDMoDCaA88Qtj1NAXa54a8PlKAWTtwhpWAhIFJBe4xzg=w2750-h1336-no">
            </a>
            <div class="project-details">
                <h4 class="project-title">Veeno</h4>
                <p class="project-description">We have created a wine search app that will help people to make a decision when buying wine by
                  providing a manageable amount of information.</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="practice">
        <h4>Practice Apps</h4>
        <div *ngFor="let app of practiceApps">
            <div class="practice-app-element">
                <div class="parctice-app-title">{{ app.title }}</div>
                <a class="parctice-app-url" href="{{app.url}}" target="_blank"> Visit Site</a>
            </div>
        </div>
    </div>
</div>
