.resume{
  overflow: auto;
}

.resumeCard-title{
  margin: 0;
}

.resume-container{
  margin: 10px 2%;
  height: 400px;
}

.embedded-doc{
  width: 100%;
  height: 80%;
}

.resume-buttons{
  margin: 5px;
}

.resume-buttons-sf{
  background-color: #000066;
  border: 2px solid #A9A9A9;
  color: #C0C0C0;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px;
}

.resume-buttons-den{
  background-color: #000066;
  border: 2px solid #A9A9A9;
  color: #C0C0C0;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px;
}

.resume-link{
  color: #C0C0C0;
  text-decoration: none;
  display: inline-block;
}

.resume-link:hover{
  color: #FFD700;
}

.resume-location{
  display: inline-block;
}

