<div class="profile">
  <h2 class="profileCard-title">ABOUT ME</h2>
  <img class="profile-pic" src="https://media.licdn.com/dms/image/C5103AQEmCx_HdpLU3A/profile-displayphoto-shrink_200_200/0?e=1530748800&v=beta&t=TEI40Tu1RT0nHs5C73qDOCeymClLs_XwOXjtnEzsxLY">
  <div class="text">
    <p>As a web developer, Ian Haizlip, builds cutting-edge web applications that integrate modern technologies,
      libraries, and frameworks. He brings problem solving, technical skills and effective project management to
      the development process. </p>
    <p>With knowledge of technologies like React.js and Angular, Ian will bring a strong foundation in innovative
      coding tools. Thorough comprehension of Node.js, npm, express, javascript, jQuery, mySQL, Mongodb, and other
      foundational languages, Ian can contribute to any team developing high-end websites and applications. </p>
    <p>With a degree in Mechanical Engineering from Montana State University, graduating the University of Denver
      Coding Bootcamp, and experience working at companies large and small, international and domestic, Ian has proven
      he is valuable and contributing member of a team. He brings the technical coding ability and an engineering
      mindset to projects that allow him to deal with complex problem solving and </p>
  </div>
</div>
